/ExternalLibs/ActionBarSherlock/.project
/ExternalLibs/ActionBarSherlock/.classpath
/ExternalLibs/ActionBarSherlock/gen/
/ExternalLibs/ActionBarSherlock/bin/
/SkinMixerTest/gen/
/SkinMixerTest/bin/
/SkinMixer/gen/
/SkinMixer/bin/
/SkinMixerTest/gen/
/SkinMixerTest/bin/
