/ExternalLibs/ViewPagerIndicator/gen/
/ExternalLibs/ViewPagerIndicator/bin/
/ExternalLibs/ViewPagerIndicator/.project
/ExternalLibs/ViewPagerIndicator/.classpath

/ExternalLibs/ActionBarSherlock/gen/
/ExternalLibs/ActionBarSherlock/bin/
/ExternalLibs/ActionBarSherlock/.project
/ExternalLibs/ActionBarSherlock/.classpath

/SkinMixerTest/gen/
/SkinMixerTest/bin/
/SkinMixerTest/.project
/SkinMixerTest/.classpath

/SkinMixer/gen/
/SkinMixer/bin/
/SkinMixer/.project
/SkinMixer/.classpath
